:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
  --font-family: 'Karla', sans-serif;
  --font-size-label: 16px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-label);
  background-color: var(--green-200);
  color: var(--grey-900);
}
