body {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: 200px 1fr 200px; 
  min-height: 100vh;
}

.header, .footer {
  grid-column: 1 / 4; 
  background-color: #f97171;
  padding: 1rem;
}

.footer {
  background-color: rgba(114, 194, 241, 1);
}

.main {
  grid-row: 2 / 3; 
  grid-column: 2 / 3; 
  background-color: #fff;
  padding: 1rem;
}

.left, .right {
  grid-row: 2 / 3; 
  background-color: #f5d55f;
  padding: 1rem;
}

.left {
  grid-column: 1 / 2; 
}

.main {
  grid-column: 2 / 3; 
}

.right {
  grid-column: 3 / 4; 
  background-color: #c5ed77;
}

.footer {
  grid-column: 1 / 4; 
  background-color: rgba(114, 194, 241, 1);
  padding: 1rem;

}


@media (max-width: 800px) {
  .app {
    grid-template-columns: 1fr; 
    grid-template-rows: auto 1fr auto auto; 
  }

  .header, .footer {
    grid-column: 1 / 2; 
  }

  .main {
    grid-row: 2 / 3; 
    grid-column: 1 / 2; 
  }

  .left, .right {
    grid-row: auto; 
    grid-column: 1 / 2;
  }

  .right {
    grid-row: 4 / 5; 
  }

  .footer {
    grid-row: 5 / 6; 
  }
}