body {
    margin: 0;
    min-width: 250px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  #myList {
    padding: 0;
    margin: 0;
  }
  
  #myList li {
    list-style-type: none;
    margin: 0;
    text-align: left;
    width: 100%;
    position: relative; 
    padding: 12px 8px 12px 40px; 
    background: #eee; 
    font-size: 18px;
    transition: 0.2s; 
  }
  
  
  #myList li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  
  #myList li:hover {
    background: #ddd;
  }
  
  
  #myList li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  .addBtnX {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    background: #19639c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    padding: 5px 10px; 
  }
  
  .addBtnX:hover {
    background-color: #044170;
    border: 2px solid white;
  }
  
  .header {
    text-align: center;
    background-color: #3764a2;
    padding: 30px 40px;
    color: white;
  }
  
  #myInput {
    width: 70%;
    height: 1.5rem;
    padding: 10px; 
    margin-right: 5px; 
    border: none; 
    border-radius: 0; 
    float: left; 
    font-size: 16px; 
  }

  .addBtn {
    padding: 1px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  