.display{
    /* border: 1px solid white; */
    height: 6rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.60) 0px 3px 8px;
}

.display p:first-child{
    color: gray;
    font-size: small;
    text-align: right;
    margin-right: 1rem;
    padding-top:1rem ;
}

.display p:nth-child(2){
    font-weight: bold;
    font-size: larger;
    text-align: right;
    margin-top: 1rem;
    margin-right: 1rem;
}